@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #8F6101 15%, #000 40%);
    height: 80px;
    position: fixed;
    z-index: 99;
    right: 0px;
    left: 0px;
}

.beats-by {
    position: absolute;
    top: -17px;
    left: 15px;
}

.logo-img {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 160px;
    height: 40px;
}

* {
    font-family: 'Orbitron', sans-serif;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    width: 85vw;
    justify-content: end;
    margin-right: 2rem;
    transition: all 1s ease;
    font-size: 0.7cm;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.2rem 1rem;
    transition: all 0.2s ease;
}

.nav-links:hover {
    background-color: #db111f;
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

.menu-icon {
    display: none;
}